DATABASE_URL="postgresql://postgres:password@localhost:5432/ibs-loja"
BETTER_AUTH_SECRET="your-secret-key-min-32-chars-here"
BETTER_AUTH_URL="http://localhost:3001"
CORS_ORIGIN="http://localhost:3001"
NODE_ENV="development"
ALLOW_SEED="false"
